@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 98%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;
    --primary: 14 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 10% 95%;
    --secondary-foreground: 0 0% 18%;
    --muted: 36 20% 97%;
    --muted-foreground: 0 0% 42%;
    --accent: 145 63% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 48%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0% / 0.1;
    --input: 0 0% 0% / 0.1;
    --ring: 0 0% 71%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 14%;
    --foreground: 0 0% 98%;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 21%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 40%;
    --destructive-foreground: 0 86% 64%;
    --border: 0 0% 27%;
    --input: 0 0% 27%;
    --ring: 0 0% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-semibold;
  }
}
